.create {
    max-width: 600px;
    margin: 0 auto;
    /* text-align: center;

    margin: 0 auto;
    max-width: 600px; */
    align-items: center;
    /* padding: 20px; 
    line-height: 15px; */
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background-color: #f1356d;
    border: none;
    padding: 8px;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    width: 600px;
    
}