.create {
    max-width: 600px;
    margin: 0 auto;
    /* text-align: center;

    margin: 0 auto;
    max-width: 600px; */
    align-items: center;
    /* padding: 20px; 
    line-height: 15px; */
}