.navbar {
    margin: 0 auto;
    align-items: center;
    max-width: 600px;
    border-bottom: 2px solid #13044e;
    display: flex;
    padding: 20px; 
}

.navbar h1 {
    /* color: #13044e; */
    color: skyblue;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .links {
    margin-left: 250px;
}

.navbar a {
    margin-left: 8px;
    text-decoration: none;
    font-size: 18px;
}