.blog-list {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
 }

 .blog-list:hover {
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0.5, 0.1);
 }

 .blog-title a{
   text-decoration: none;
}